*{
  font-family:Arial, Helvetica, sans-serif;
}



#top{
  background-color: rgb(75, 104, 218) !important;
  display: flex;
  flex-direction: row;
  padding-left: 100px;
  padding-right: 200px;

}
.dash-container{
  border-radius: 20px;
  background-color: rgb(57, 198, 18);
  margin-top: 20px;
}